<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Infinite Horizon</title>
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
  <h1><a href="http://www.free-css.com/">Infinite Horizon</a></h1>
  <h2><a href="http://www.free-css.com/">Free Css Template</a></h2>
</div>
<div id="menu">
  <ul>
    <li><a href="http://www.free-css.com/" accesskey="1">Home</a></li>
    <li><a href="http://www.free-css.com/" accesskey="2">About Us</a></li>
    <li><a href="http://www.free-css.com/" accesskey="3">Products</a></li>
    <li><a href="http://www.free-css.com/" accesskey="4">Services</a></li>
    <li><a href="http://www.free-css.com/" accesskey="5">Contact Us</a></li>
  </ul>
</div>
<div id="content">
  <div id="colOne">
    <h2>Welcome to Sitename.com!</h2>
    <p>Sitename.com is a free template from <a href="http://www.freecsstemplates.org/"><strong>Free CSS Templates</strong></a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The background picture is from <a href="http://pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to <a href="http://www.freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
    <p>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Nullam et orci in erat viverra ornare. Nunc pellentesque.</p>
    <p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa:</p>
    <ul>
      <li><a href="http://www.free-css.com/">Suspendisse quis gravida massa felis.</a></li>
      <li><a href="http://www.free-css.com/">Vivamus sagittis bibendum erat.</a></li>
      <li><a href="http://www.free-css.com/">Nullam et orci in erat viverra ornare.</a></li>
      <li><a href="http://www.free-css.com/">Suspendisse quis gravida massa felis.</a></li>
      <li><a href="http://www.free-css.com/">Curabitur malesuada turpis nec ante.</a></li>
    </ul>
    <h3>Lorem Ipsum Dolore </h3>
    <p>Aliquam gravida massa eu arcu. Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada turpis nec ante. Suspendisse quis felis. Suspendisse potenti. Nullam et orci in erat viverra ornare. Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus.</p>
  </div>
  <div id="colTwo">
    <h2>Events</h2>
    <h3>Etiam suscipit et</h3>
    <p>Rhoncus ac, lacinia, nisl. Aliquam gravida massa eu arcu. <a href="http://www.free-css.com/">More&#8230;</a></p>
    <h3>Fusce dolor tristique</h3>
    <p>Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada. <a href="http://www.free-css.com/">More&#8230;</a></p>
    <h3>Nunc pellentesque</h3>
    <p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in. <a href="http://www.free-css.com/">More&#8230;</a></p>
    <h2>Ipsum Dolorem</h2>
    <ul>
      <li><a href="http://www.free-css.com/">Sagittis Bibendum Erat</a></li>
      <li><a href="http://www.free-css.com/">Malesuada Turpis</a></li>
      <li><a href="http://www.free-css.com/">Quis Gravida Massa</a></li>
      <li><a href="http://www.free-css.com/">Inerat Viverra Ornare</a></li>
    </ul>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
  <p>Copyright &copy; 2006 Sitename.com. Designed by <a href="http://freecsstemplates.org"><strong>Free CSS Templates</strong></a></p>
</div>
</body>
</html>
